@font-face {
    font-family: CenturyGothic;
    src: url(CenturyGothic.ttf);
}

::selection {
    background: #FFFFFF;
}

::-moz-selection {
    background: #FFFFFF;
}

html {
    max-height: 100%;
    height: 100%;
}

body {
    background-color: #000000;
    color: #000000;
    margin: 0;
    font-family: CenturyGothic;
    font-weight: bolder;
    opacity: 0.8;
}
