@keyframes rotation {
    from, to {
        transform: rotateX(0) rotateY(0deg) rotateZ(0);
    }
    25% {
        transform: rotateX(180deg) rotateY(0deg) rotateZ(180deg);
    }
    50% {
        transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
    }
    75% {
        transform: rotateX(0deg) rotateY(180deg) rotateZ(180deg);
    }
}

#tetrahedron {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    background: transparent;

    /* transform-origin: 50% 79.587585476806855% 86.60254037844386px; */
    animation-name: rotation;
    animation-timing-function: ease-in-out;
    transform-style: preserve-3d;
    animation-iteration-count: infinite;
    animation-duration: 16s;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
}

#tetrahedron div {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;

    clip-path: polygon(50% 13.397459621556166%, 100% 100%, 0% 100%);
    background:#000000;
    opacity:0.8;
    box-shadow:0 0 256px #444444 inset ;

    transition: background-color 1s 0.02s ease, transform 1s 0.02s ease;
    -webkit-transition: background-color 1s 0.02s ease, transform 1s 0.02s ease;
    -moz-transition: background-color 1s 0.02s ease, transform 1s 0.02s ease;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;

    --PI: 3.141592653589793rad;
    --halfPI: 1.5707963267948966rad;
    --edges-angle: 0.3398369094541218rad;
    --right-corner-angle: 2.0943951023931957rad;
    --left-corner-angle: -2.0943951023931957rad;
    --disassemble-range: 75px;
}

#bottom {
    transform-origin: 50% 100%;
    transform: rotateX(var(--halfPI))
        rotateY(var(--PI));
}

#bottom.disassemble {
    transform-origin: 50% 100%;
    transform: rotateX(var(--halfPI))
        rotateY(var(--PI))
        translateZ(var(--disassemble-range));
}

#front {
    transform-origin: 50% 100%;
    transform: rotateX(var(--edges-angle));
}

#front.disassemble {
    transform-origin: 50% 100%;
    transform: rotateX(var(--edges-angle))
        translateZ(var(--disassemble-range));;
}

#right {
    transform-origin: 0% 100%;
    transform: translateX(100%)
        rotateY(var(--right-corner-angle))
        rotateX(var(--edges-angle));
}

#right.disassemble {
    transform-origin: 0% 100%;
    transform: translateX(100%)
        rotateY(var(--right-corner-angle))
        rotateX(var(--edges-angle))
        translateZ(var(--disassemble-range));
}

#left {
    transform-origin: 100% 100%;
    transform: translateX(-100%)
        rotateY(var(--left-corner-angle))
        rotateX(var(--edges-angle));
}

#left.disassemble {
    transform-origin: 100% 100%;
    transform: translateX(-100%)
        rotateY(var(--left-corner-angle))
        rotateX(var(--edges-angle))
        translateZ(var(--disassemble-range));
}
