@font-face {
    font-family: CenturyGothic;
    src: url("../CenturyGothic.ttf");
}

::selection {
	background: #FFFFFF;
}

::-moz-selection {
	background: #FFFFFF;
}

::-webkit-input-placeholder {
  color: #888888;
}

:-ms-input-placeholder {
  color: #888888;
}

::-moz-placeholder { 
  color: #888888;
  opacity: 1;
}

::-moz-placeholder { 
  color: #888888;
  opacity: 1;
}

::-webkit-scrollbar-thumb {
    background: #AA00AA;
}

::-webkit-scrollbar-track {
    border: 0.5px solid #AA00AA;
}

::-webkit-scrollbar {
    width: 10px;
}

html {
	max-height: 100%;
	height: 100%;
}

body {
	background-color: #000000;
	margin: 0;
	font-family: CenturyGothic;
	color: #AA00AA;
}

input, button, textarea, span {
	font-weight: bolder;
	font-size: 20px;
	font-family: CenturyGothic;
	margin-bottom: 8px;
}

input, button, textarea {
	background-color: #000000;
	color: #AA00AA;
	padding: 4px;
	outline: none;
}

input, button {
	border: 2px solid #AA00AA;
}

textarea, span {
	max-width: 100%;
	width: 100%;
	text-align: center;
}

textarea {
	border: none;
	resize: none;
}

span {
	display: block;
}

button {
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}